slurm-*
*.html

*.pro.user

src/CMakeLists.txt.user

build-debug/
build-release/
build-profile/

build-debug-11.3/
build-release-11.3/
build-debug-11.4.0/
build-release-11.4.0/
build-debug-12.3/
build-release-12.3/
build-debug-13.1/
build-release-13.1/

info_debug/
info_release/

info_build-release-11.3/
info_build-release-11.4.0/
info_build-release-12.3/
info_build-release-13.1/
info_build-debug-11.3/
info_build-debug-11.4.0/
info_build-debug-12.3/
info_build-debug-13.1/

